/* =====================================
 * AUTHOR:		Maurizio Battaghini
 * ROLE:		Junior Front-end Developer
 * 
 * DATE:		27-02-2014
 * =====================================
 
												           ;               ,           
												         ,;                 '.         
												        ;:                   :;         
												       ::                     ::       
												       ::                     ::       
												       ':                     :         
												        :.                    :         
												     ;' ::                   ::  '     
												    .'  ';                   ;'  '.     
												   ::    :;                 ;:    ::   
												   ;      :;.             ,;:     ::   
												   :;      :;:           ,;"      ::   
												   ::.      ':;  ;.,.;  ;:'     ,.;:   
												    "'"...   '::,::::: ;:   .;.;""'     
												        '"""....;:::::;,;.;"""         
												    .:::.....'"':::::::'",...;::::;.   
												   ;:' '""'"";.,;:::::;.'""""""  ':;   
												  ::'         ;::;:::;::..         :;   
												 ::         ,;:::::::::::;:..       :: 
												 ;'     ,;;:;::::::::::::::;";..    ':. 
												::     ;:"  ::::::"..'::::::  ":     :: 
												 :.    ::   ::::::;  :::::::   :     ; 
												  ;    ::   :::::::  :::::::   :    ;   
												   '   ::   ::::::....:::::'  ,:   '   
												    '  ::    :::::::::::::"   ::       
												       ::     ':::::::::"'    ::       
												       ':       """""""'      ::       
												        ::                   ;:         
												        ':;                 ;:"         
													      ';              ,;'           
												            "'           '"             
												              ' 
/* =====================================
 * FONTS IMPORT
 * ===================================== */
@font-face {
    font-family: 'bariol-normal';
    src: url('fonts/bariol-webfont/Bariol_Regular.eot');
    src: url("fonts/bariol-otf/Bariol_Regular.otf") format("opentype");
    src: url('fonts/bariol-webfont/Bariol_Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/bariol-webfont/Bariol_Regular.woff') format('woff'),
    url('ffonts/bariol-webfont/Bariol_Regular.ttf') format('truetype'),
    url('fonts/bariol-webfont/Bariol_Regular.svg#mioFont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bariol-bold';
    src: url('fonts/bariol-webfont/Bariol_Bold.eot');
    src: url("fonts/bariol-otf/Bariol_Bold.otf") format("opentype");
    src: url('fonts/bariol-webfont/Bariol_Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/bariol-webfont/Bariol_Bold.woff') format('woff'),
    url('ffonts/bariol-webfont/Bariol_Bold.ttf') format('truetype'),
    url('fonts/bariol-webfont/Bariol_Bold.svg#mioFont') format('svg');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'bariol-light';
    src: url('fonts/bariol-webfont/Bariol_Light.eot');
    src: url("fonts/bariol-otf/Bariol_Light.otf") format("opentype");
    src: url('fonts/bariol-webfont/Bariol_Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/bariol-webfont/Bariol_Light.woff') format('woff'),
    url('ffonts/bariol-webfont/Bariol_Light.ttf') format('truetype'),
    url('fonts/bariol-webfont/Bariol_Light.svg#mioFont') format('svg');
    font-weight:200;
    font-style: normal;
}

@font-face {
    font-family: 'bariol-thin';
    src: url('fonts/bariol-webfont/Bariol_Thin.eot');
    src: url("fonts/bariol-otf/Bariol_Thin.otf") format("opentype");
    src: url('fonts/bariol-webfont/Bariol_Thin.eot?#iefix') format('embedded-opentype'),
    url('fonts/bariol-webfont/Bariol_Thin.woff') format('woff'),
    url('ffonts/bariol-webfont/Bariol_Thin.ttf') format('truetype'),
    url('fonts/bariol-webfont/Bariol_Thin.svg#mioFont') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* =====================================
 * STANDARD
 * ===================================== */
@viewport {
  width: device-width;
  zoom: 1;
}

html, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, section, fieldset, input, textarea, blockquote {
	margin: 0;
	padding: 0;
	border: 0;
	position: relative;
}

li {
	list-style:none;
}

img {
	/* IE 8 */
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  	/* IE 5-7 */
  	filter: alpha(opacity=0);
  	/* Netscape */
  	-moz-opacity: 0;
  	/* Safari 1.x */
  	-khtml-opacity: 0;
  	/* Good browsers */
  	opacity: 0;
}

html, body {
	width:100%;
	height:100%;
	font-size: 100%;
	font-family:"bariol-normal";
	font-weight: normal;
	background-color:#F1F1F1;
}

body {
	min-width:1145px;
}

a {
	text-decoration:none;
}

strong, b {
	font-family:"bariol-bold";
}

header, footer {
	float:none;
	width:100%;
	margin:0 auto;
	padding:0;
	height:auto;
}

/* General inner */
nav ul, nav ul li, nav ul li a {
	white-space:nowrap;
	list-style:none;
	display:inline-block;
}

hgroup h1 {
	font-family:"bariol-bold";
	font-size:60px;
	color:#000;
	text-transform:uppercase;
	margin:25px 0 25px 0;
}

hgroup h2 {
	font-family:"bariol-normal";
	font-size:44px;
	color:#787878;
	text-transform:uppercase;
	margin:5px 0 35px 0;
}

hgroup h3 {
	font-family:"bariol-normal";
	font-size:30px;
	color:#787878;
	margin:5px 0 35px 0;
	max-width:300px;
}

hgroup h4 {
	font-family:"bariol-normal";
	font-size:24px;
	color:#979898;
	margin:5px 0 35px 0;
}

hgroup h5 {
	text-transform:uppercase;
	font-family:"bariol-bold";
	font-size:18px;
	color:#0077BC;
	text-align:center;
	margin:10px auto;
	padding:15px 0 10px 0;
	width:80%;
	border-bottom:2px solid #0077BC;
}

hgroup.dark-title > * {
	color:#000000;
}

div.button, input.button {
	font-face:"bariol-bold";
	font-size:22px;
	width:auto;
	padding:15px 25px 10px 25px;
	color:#FFF;
	background-color:#EF7C00;
	text-transform:uppercase;
	display:block;
	clear:both;
	cursor:pointer;
	border-bottom:2px solid #EF7C00;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	transition: background 0.3s ease-out 0s, color 0.3s ease-out 0s;
} div.button:hover {
	background-color:#EF4900;
}

div.spot-detail {
	width:24px;
	height:24px;
	position:absolute;
	background: url("../img/spot-detail.png") no-repeat center center transparent;
	cursor:pointer;
}

div.separator, hr.separator {
	width:100%;
	height:10px;
	background: url("../img/separator1.png") no-repeat top center transparent;
	display:inline-block;
	top:-8px;
}


/*
 **************************** MAIN CONTAINER ****************************
 */
.main-container {
	width:100%;
	height:auto;
	float:none;
	margin:0 auto;
}



/*
 **************************** HEADER ****************************
 */
header {
	max-width:1145px;
	height:588px;
	margin-top:20px;
}

.header-sx {
	width:496px;
	height:100%;
	float:left;
}

/* SX */
.sx-wrapper {
	width:auto;
	height:auto;
	margin-left:35px;
}

.sx-wrapper a {
	float:left;
	clear:both;
}

.sx-wrapper a img {
	margin-top:30px;
}

/* DX */
.header-dx {
	width:624px;
	height:100%;
	float:right;
}

.dx-wrapper {
	width:auto;
	height:auto;
}


/* HEAD MENU */
div.head-menu {
	width:100%;
	margin:0 auto;
	padding:16px 0;
	background-color:#0077bc;
}

.head-menu nav {
	max-width:1145px;
	margin:0 auto;
	text-align:center;
}

.head-menu ul {
	list-style:none;
	margin:0 auto;
	height:20px;
}

.head-menu ul li {
	width:auto;
	padding:0 20px
}

.head-menu nav ul li a {
	font-family:"bariol-bold";
	font-size:18px;
	text-transform:uppercase;
	color:#80BBDE;
	margin:0 25px;
	transition: color 0.2s ease-out 0s, color 0.2s ease-out 0s;
} .head-menu nav ul li a:hover {
	color:#FFF;
}

/*
 **************************** BODY ****************************
 */
.body-wrapper {
	float:none;
	width:100%;
	height:auto;
	clear:both;
	background-color:#fafcfc;
	margin:0;
	padding:0;
}

.body-container {
	max-width:1145px;
	height:auto;
	float:none;
	margin:0 auto 0 auto;
	padding-top:63px;
}

/* SECTION */
section {
	display:inline-block;
	width:100%;
	height:auto;
	margin:0 auto 65px auto;
	padding:100px 0;
	background-color:#fff;
	border-bottom:4px solid #0077BC;
	-moz-box-shadow: 0 0 5px #eef6f9;
	-webkit-box-shadow: 0 0 5px #eef6f9;
	box-shadow: 0 0 5px #eef6f9;
}

section .content {
	max-width:1075px;
	width:100%;
	height:auto;
	margin:0 auto;
}

.content hgroup > h1, .content hgroup > h2  {
	margin:0;
	padding:0;
}

.content p {
	font-family:"bariol-normal";
	color:#7F7F7F;
	font-size:20px;
	margin-top:30px;
	max-width:75%;
}

/* gallery FULL */
.body-full .bxslider {
	text-align: center;
}

.body-full .bx-wrapper {
	margin-bottom:45px;
}

.body-full {
	width:100%;
	height:100%;
	display:inline-block;
}

.slide-wrapper_full {
	margin:0 auto;
	width:auto;
	display:inline-block;
}

/* SLIDER FULL */
.slider_article_full {
	float:left;
	max-width:380px;
}

/* gallery DX */
.content .body-sx, .content .body-dx {
	width:48%;
	height:100%;
	display:inline-block;
} .content .body-dx {
	max-width:485px;
}

.bxslider li div.slide-wrapper {
	height:420px;
	width:100%;
	max-width:485px;
}

/* SLIDER DX */
.slider_article {
	max-width:230px;
	width:100%;
	position:relative;
	display:inline-block;
	position:absolute;
	bottom:0;
} .slider_article:nth-child(even) {
	left:0;
} .slider_article:nth-child(odd) {
	right:0;
}

.slider_article:first-child {
	max-width:100%;
	top:0;
}

/* MODEL */
section.model {
	padding-top:0;
}

.content.model {
	width:100%;
	min-height:737px;
	max-width:100%;
	margin:0 auto;
	background:url("../img/body_bkg_robi.jpg") no-repeat top center;
	background-size:cover;
}

.text-img {
	width:100%;
	height:auto;
	max-width:1060px;
	margin:155px auto 0 auto;
}

/* TEXT LEFT */
.box.textleft {
	float:left;
}

.box.textleft > hgroup, .box.textleft > p  {
	margin:0;
	padding-left:30px;
	max-width:355px;
	word-wrap:normal;
} 
.text-img > img {
	float:right;
	width:auto;
	max-width:50%;
	height:auto;
	display:block;
}

/* TEXT RIGHT */
.box.textright {
	float:right;
}

.box.textright > hgroup, .box.textright > p  {
	float:right;
	margin:0;
	padding-right:30px;
	max-width:355px;
	word-wrap:normal;
} 
.text-img > img {
	width:auto;
	max-width:90%;
	height:auto;
	display:block;
}

/* controller */
.model-controllers .active {
	color:#0077BC;
}

.model-controllers nav {
	width:100%;
	text-align:left;
	font-family:"bariol-bold";
	font-size:18px;
	text-transform:uppercase;
	padding-top:30px;
	color:#7F7F7F;
}

.model-controllers nav ul {
	margin-left:85px;
}

.model-controllers nav ul li a {
	color:#fff;
	text-align:center;
	margin:0 10px;
	transition: color 0.1s ease-out 0s, color 0.1s ease-out 0s;
}

.model-controllers nav ul li a:hover {
	color:#0077BC;	
}


.model-controllers nav ul li:before {
	content:"•";
}

.model-controllers nav ul li:first-of-type:before {
	content:"";
}

/* container */
.model-container {
	position:absolute;
	width:100%;
	height:100%;
	top:100px;
}

.model-container-robi {
	margin-left:170px;
}

.back {
	display:block;
}

.back1 {
	top:40px;
	right:140px;
}

.back2 {
	top:180px;
	right:175px;
}

.back3 {
	bottom:190px;
	right:130px;
}

.back-robi {
	background:url("../img/robi/back_robi.png") no-repeat top center transparent;
	width:381px;
	height:721px;
}

.front {
	display:none;
}

.front4 {
	top:100px;
	right:270px;
}

.front5 {
	top:240px;
	right:440px;
}

.front-robi {
	background:url("../img/robi/front_robi.png") no-repeat top center transparent;
	width:494px;
	height:719px;
}

/* details */
.container-detail {
	height:auto;
	position:absolute;
	z-index:1;
	overflow: hidden;
	right:100px;
	display:none;
}

.detail1 {
	top:0;
}

.detail2 {
	top:20%;
}

.detail3 {
	top:60%;
}

.detail4 {
	top:5%;
}

.detail5 {
	top:25%;
}

.container-detail .box {
	position: relative;
	float: left;
	width: 345px;
	min-height: 150px;
	height:auto;
	padding: 0;
	border: 1px solid #FFF;
	margin: 0 30px 30px 0;
	background: #fff;
}

.container-detail .box:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	right: 10px;
	left: auto;
	width: 50%;
	top: 80%;
	max-width:300px;
	background: #6b6662;
	-webkit-box-shadow: 0 15px 10px #6b6662;
	-moz-box-shadow: 0 15px 10px #6b6662;
	box-shadow: 0 15px 10px #6b6662;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
}

.box p {
	font-family:"bariol-normal";
	font-size:18px;
	color:#b0b0b0;
	margin:0 auto;
	width:75%;
}

div.linkto {
	font-size:13px;
	width:75%;
	margin:15px auto;
	height:10px;
	text-align:left;
}

.linkto a {
	text-transform:uppercase;
	color:#b0b0b0;
	font-weight:bold;
}

span.link-triangle {
	width:5px;
	height:10px;
	background:url("../img/link-triangle.png") top left no-repeat transparent;
	display:inline-block;
}


/* HELLO ROBI */
section.hellorobi {
	padding-top:0;
}

.hellorobi-split {
	display:block;
	width:50%;
	height:735px;
}

/* sx */
.hellorobi-split.sx {
	float:left;
	background-color:#0095DB;
	-webkit-box-shadow: 4px 4px 4px #dbdedf;
	-moz-box-shadow: 4px 4px 4px #dbdedf;
	box-shadow: 4px 4px 4px #dbdedf;
	z-index:2;
}

.hellorobi-title {
	display:block;
	margin:40px auto;
	text-align:center;2
}

.hellorobi-wrapper {
	position:absolute;
	width:100%;
	height:auto;
	bottom:-105px;
	left:0;
}

.hellorobi-wrapper img {
	width:100%;
	height:100%;
}

/* dx */
.hellorobi-split.dx {
	float:right;
	z-index:1;
}

.hellorobi-split.dx .searchbar {
	height:70px;
	width:100%;
	background-color:#FFF;
	border-bottom:2px solid #F2F2F2;
}

.hellorobi-split.dx .searchbar .search {
	width:70%;
	height:30px;
	margin-left:40px;
	display:block;
	font-family:"bariol-normal";
	font-size:20px;
	padding-top:4%;
	background:url("../img/search-ico.png") left 29px no-repeat transparent;
	text-indent:25px;
	color:#a3a3a3;
}

/* article */
.hellorobi-split.dx .article-wrapper {
	height:auto;
	overflow-y:auto;
	max-height:665px;
}

.hellorobi-split.dx article {
	border-bottom:2px solid #F2F2F2;
	width:100%;
	height:195px;
}

.hellorobi-split.dx article .article-content {
	display:inline-block;
	vertical-align:top;
	padding-top:35px;
}

/* sx */
.article-sx {
	width:120px;
	max-width:120px;
	text-align:right;
}

.article-avatar {
	display:inline-block;
	width:78px;
	text-align:right;
}

/* dx */
.article-dx {
	width:auto;
	max-width:370px;
	text-align:left;
	margin-left:20px;
}

.article-dx h3 {
	font-family:"bariol-bold";
	font-size:28px;
	margin-top:10px;
	text-transform:uppercase;
}

.article-dx p {
	font-family:"bariol-normal";
	font-size:20px;
	margin-top:15px;
	color:#9fa1a2;
	max-height:45px;
	overflow:hidden;
}

.article-dx .read-more {
	margin-top:20px;
	text-transform:uppercase;
	font-family:Futura;
	font-weight:bold;
	font-size:13px;
	color:#9b9c9d;	
	cursor:pointer;
}

.read-more span {
	width:5px;
	height:10px;
	background:url("../img/link-triangle.png") left center no-repeat transparent;
}

.content.hellorobi div:first-child {
	text-align:center;
	display:block;
	top:60px;
}

.content.hellorobi hgroup h1 {
	font-size:80px;
}

/* CONVERSAZIONE */
.conversazione-wrapper, .conversazione-container {
	width:100%;
	margin:0 auto 0 auto;
	display:block;
	top:25px;
}

.loadmore.button {
	margin:50px auto 0 auto;
	text-align:center;
	max-width:175px;
}

.conversazione-element {
	width:260px;
	height:255px;
	display:inline-block;
	margin:21.5px 11.5px;
	list-style:none;
	-webkit-box-shadow: 4px 4px 1px #d6d7d7;
	-moz-box-shadow: 4px 4px 1px #d6d7d7;
	box-shadow: 4px 4px 1px #d6d7d7;
	background:url("../img/logo_conversation.png") no-repeat center center #e1e1e1;
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  	filter: alpha(opacity=0);
  	-moz-opacity: 0;
  	-khtml-opacity: 0;
  	opacity: 0;
}

.conversazione-element article {
	float:left;
	margin:0;
	padding:0;
	clear:both;
}

article.article-img {
	max-width:260px;
	max-height:255px;
	overflow:hidden;
}

article.article-img img {
	width:260px;
	height:auto;
}

article.article-fb {
	width:100%;
	height:100%;
	max-width:260px;
	max-height:255px;
	overflow:hidden;
	background-color:#233876;
}

.article-fb-text {
	color:#fff;
	font-family:"bariol-normal";
	font-size:20px;
	width:200px;
	margin:40px auto 0 auto;
	background:url("../img/fb-logo.png") top left no-repeat transparent;
	word-wrap:break-word;
}

.article-fb-text span {
	font-family:"bariol-bold";
	text-transform:uppercase;
	margin:5px 0 0 25px;
	display:inline-block;
}.article-fb-text span:before {
	content:"#";
}

.article-fb-text p {
	margin-top:20px;
}


/* CREATORE */
section.creatore {
	padding:55px 0;
}

.creatore-sx, .creatore-dx {
	vertical-align:top;
	width:50%;
}

.creatore-sx {
	top:25px;
	float:left;
}

.creatore-sx .button {
	display:inline-block;
	margin-top:30px;	
}

.creatore-dx {
	float:right;
}


/* FORM */
section.form {
	background:url("../img/robi_form.png") -70px 70px no-repeat #fff;
}

.form-wrapper h1, .form-wrapper h2 {
	font-family:"bariol-bold";
}

.form-wrapper {
	max-width:600px;
	/*height:695px;*/
	margin-left:40%;
}

.form-wrapper form {
	margin-top:10px;
}

fieldset, label, input, select, span {
	display:inline-block;
}

.form-wrapper fieldset {
	width:100%;
	height:100px;
	margin-top:20px;
}

.form-wrapper fieldset span {
	font-family:"bariol-bold";
	font-size:22px;
	text-transform:uppercase;
	color:#0077bc;
	width:100%;
}

.form-wrapper input[type="text"], .form-wrapper input[type="email"] {
	font-family:"bariol-normal";
	font-size:20px;
	color:#9e9e9e;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	margin-top:15px;
	margin-right:12px;
}
.form-wrapper input[type="text"]:last-child, .form-wrapper input[type="email"]:last-child, .form-wrapper select:last-child {
	margin-right:0;
}

.form-wrapper input[type="text"], .form-wrapper input[type="email"], .select2-container .select2-choice {
	padding:12px 0;
	text-indent:15px;
	border:solid 1px #d6d6d6;
	background-color:#f8f8f8;
}

.form-wrapper fieldset input.input-uno {
	width:97%;
}

.form-wrapper fieldset input.input-due {
	width:47%;
}

.form-wrapper fieldset input.input-tre, .select2-container, .select2-drop, .select2-search, .select2-search input {
	width:32%;
}

.select2-container, .select2-drop, .select2-search, .select2-search input, .select2-container .select2-choice > .select2-chosen {
	font-family:"bariol-normal";
	font-size:20px;
	color:#9e9e9e;
	text-transform:none;
}

.select2-container .select2-choice, .select2-container .select2-choice .select2-arrow {
	text-transform:none !important;
	margin-top:15px !important;
	height:50px !important;
	line-height:50px !important;
	font-family:"bariol-normal" !important;
	font-size:20px !important;
	color:#9e9e9e !important;
	background:none !important;
	border:solid 1px #d6d6d6 !important;
	background-color:#f8f8f8 !important;
}

.select2-container .select2-choice .select2-arrow {
	border:none !important;
}


/* validation form */
.form-wrapper fieldset label.error {
	font-family:"bariol-normal";
	font-size:18px;
	color:#EF4900;
	width:100%;
	margin-right:15px;
	position:absolute;
	bottom:-11px;
	left:0;
}

.submit-button {
	margin-top:30px;
}

.messageBack {
	font-face:"bariol-bold";
	font-size:22px;
	width:auto;
	padding:15px 25px 10px 25px;
	color:#FFF;
	text-transform:uppercase;
	border-bottom:2px solid #E8E8E8;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	transition: background 0.3s ease-out 0s, color 0.3s ease-out 0s;
	display:none;
	float:left;
	margin-top:10px;
}

.messageBack.error {
	background:#FF3300;
}

.messageBack.correct {
	background:#66CC33;
}

/*
 **************************** FOOTER ****************************
 */
footer {
	background-color:#fff;
	height:20px;
	padding:25px 0;
}

.footer-wrapper {
	max-width:1145px;
	margin:0 auto;
	height:auto;
	color:#bfbfbf;
	font-size:18px;
	font-face:"bariol-bold";
}

/* SX */
.footer-sx {
	width:496px;
	float:left;
}

.footer-sx a {
	float:left;
	margin-left:35px;
}

/* DX */
.footer-dx nav {
	width:624px;
	float:right;
	text-align:center;
}

footer ul {
	list-style:none;
	margin:0 auto;
}

footer ul li:before {
	content:"•";
}

footer ul li:first-of-type:before {
	content:"";
}

footer ul li {
	color:#7F7F7F;
} 
footer ul li a {
	color:#7F7F7F;
	margin:0 10px;
} footer ul li a:hover {
	text-decoration:underline;
}
